# Database
DATABASE_URL="postgresql://postgres:v%23.%25EwpY6in6txg@db.qtohdgqrgkhsyztwlyrg.supabase.co:5432/postgres?sslmode=require"

# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Cron Security
CRON_SECRET="your-secret-key-for-cron-verification"
